.wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.profile-image{
    width: 130px;
    height: 130px;
}

.user{
    font-size: 30px;
    max-width: 150px;
    
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin: 0;
}